<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bartzy.alfred.vagrant</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>05B3CE68-52DE-42B1-B9CD-5D793AEFA9CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A034FF8-017A-4DCC-9D43-6A9E075AF668</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>16ACF7CA-F451-42C7-B6F8-F0630221C06E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C86A306-A563-4B61-B34A-015DB1BBABAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1A034FF8-017A-4DCC-9D43-6A9E075AF668</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B878B4FD-5323-49D3-AFD4-53BA83CE72E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>54817C06-B850-451A-A52D-DE0EA18438CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E8B4932-87E5-48CB-BAA2-4E4E4C07B6E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5C86A306-A563-4B61-B34A-015DB1BBABAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B878B4FD-5323-49D3-AFD4-53BA83CE72E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>658E0ED5-C12D-4434-A239-62DE245D3094</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F6F626D-4C37-41D2-8ABB-9CE7C91CE963</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F6F626D-4C37-41D2-8ABB-9CE7C91CE963</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B878B4FD-5323-49D3-AFD4-53BA83CE72E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8EA8F621-AE81-4695-8DAE-4C1336F5D2A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C17303E-8E12-4EAA-80E9-CBFD50F4DCB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9C17303E-8E12-4EAA-80E9-CBFD50F4DCB6</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Bar Ziony</string>
	<key>description</key>
	<string>Control Your Vagrant Machines</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Vagrant</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vg</string>
				<key>runningsubtext</key>
				<string>Fetching machine status...</string>
				<key>script</key>
				<string>bash status.sh</string>
				<key>title</key>
				<string>Vagrant Status</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3ABA61C8-FA38-4605-B9BC-46A0F692A752</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemFSName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>Vagrantfile</string>
						<key>words</key>
						<false/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>vg configure</string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Configure which Vagrant machine you want to control.</string>
				<key>title</key>
				<string>Configure Vagrant</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>8EA8F621-AE81-4695-8DAE-4C1336F5D2A6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>dirname "{query}" &gt; vagrant_path</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9C17303E-8E12-4EAA-80E9-CBFD50F4DCB6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vg up</string>
				<key>subtext</key>
				<string>Start the machine.</string>
				<key>text</key>
				<string>Start Vagrant</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>16ACF7CA-F451-42C7-B6F8-F0630221C06E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash action.sh up</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5C86A306-A563-4B61-B34A-015DB1BBABAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash action.sh halt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F6F626D-4C37-41D2-8ABB-9CE7C91CE963</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Vagrant</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B878B4FD-5323-49D3-AFD4-53BA83CE72E3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vg halt</string>
				<key>subtext</key>
				<string>Stop the machine.</string>
				<key>text</key>
				<string>Stop Vagrant</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>658E0ED5-C12D-4434-A239-62DE245D3094</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vg reload</string>
				<key>subtext</key>
				<string>Restart the machine.</string>
				<key>text</key>
				<string>Restart Vagrant</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>05B3CE68-52DE-42B1-B9CD-5D793AEFA9CC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash action.sh reload</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1A034FF8-017A-4DCC-9D43-6A9E075AF668</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vg ssh</string>
				<key>subtext</key>
				<string>SSH into the Vagrant machine.</string>
				<key>text</key>
				<string>SSH to Vagrant</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>54817C06-B850-451A-A52D-DE0EA18438CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>ssh://root@127.0.0.1:2222</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9E8B4932-87E5-48CB-BAA2-4E4E4C07B6E4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>05B3CE68-52DE-42B1-B9CD-5D793AEFA9CC</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>16ACF7CA-F451-42C7-B6F8-F0630221C06E</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>1A034FF8-017A-4DCC-9D43-6A9E075AF668</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>3ABA61C8-FA38-4605-B9BC-46A0F692A752</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>54817C06-B850-451A-A52D-DE0EA18438CE</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>5C86A306-A563-4B61-B34A-015DB1BBABAA</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>658E0ED5-C12D-4434-A239-62DE245D3094</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>7F6F626D-4C37-41D2-8ABB-9CE7C91CE963</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>8EA8F621-AE81-4695-8DAE-4C1336F5D2A6</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9C17303E-8E12-4EAA-80E9-CBFD50F4DCB6</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9E8B4932-87E5-48CB-BAA2-4E4E4C07B6E4</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>B878B4FD-5323-49D3-AFD4-53BA83CE72E3</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/Bartzy/alfred-vagrant</string>
</dict>
</plist>
